In [1]:
#importing the library
#pandas is used for data analysis and data manipulation


import pandas as pd

In [15]:
#reads the csv

file_path = "Week-2-Sales-Data.csv"
df = pd.read_csv(file_path)

In [16]:
# Preview dataset and the first 5 rows

print("First 5 rows of dataset:")
display(df.head())

First 5 rows of dataset:

,Order_ID,Product,Region,Units_Sold,Unit_Price,Revenue,Sales_Rep,Order_Date
0,ORD001,Printer,Limpopo,45,2985,134325,Rep-2,2024-03-28
1,ORD002,Headphones,Western Cape,16,15076,241216,Rep-18,2024-04-11
2,ORD003,Laptop,Western Cape,45,14860,668700,Rep-16,2024-05-18
3,ORD004,External Hard Drive,KwaZulu-Natal,21,16237,340977,Rep-3,2024-05-16
4,ORD005,Smartphone,Western Cape,41,9420,386220,Rep-17,2024-02-21

In [17]:
# Check for missing values


print("\nMissing values in each column:")
print(df.isnull().sum())

Missing values in each column:
Order_ID      0
Product       0
Region        0
Units_Sold    0
Unit_Price    0
Revenue       0
Sales_Rep     0
Order_Date    0
dtype: int64

In [18]:
# Check for duplicates

print("\nNumber of duplicate rows:", df.duplicated().sum())

Number of duplicate rows: 0

In [19]:
#  Check data types

print("\nData types of columns:")
print(df.dtypes)

Data types of columns:
Order_ID      object
Product       object
Region        object
Units_Sold     int64
Unit_Price     int64
Revenue        int64
Sales_Rep     object
Order_Date    object
dtype: object

In [20]:
# Clean the dataset
# Remove duplicate rows by dropping rows
df = df.drop_duplicates()

# Handle missing values
# Option 1: Drop missing values
# df = df.dropna()

#  Fill missing values (example: fill with mean for numeric columns)
df = df.fillna({
    'Quantity': df['Quantity'].mean() if 'Quantity' in df.columns else None,
    'Price': df['Price'].mean() if 'Price' in df.columns else None
})

In [21]:
#  Convert Order_Date to datetime format
if 'Order_Date' in df.columns:
    df['Order_Date'] = pd.to_datetime(df['Order_Date'], errors='coerce')

#  Final check after cleaning
print("\nAfter cleaning:")
print("Missing values:", df.isnull().sum().sum())
print("Duplicates:", df.duplicated().sum())
print("Data types:\n", df.dtypes)

#  Display cleaned dataset
display(df.head())

After cleaning:
Missing values: 0
Duplicates: 0
Data types:
 Order_ID              object
Product               object
Region                object
Units_Sold             int64
Unit_Price             int64
Revenue                int64
Sales_Rep             object
Order_Date    datetime64[ns]
dtype: object

,Order_ID,Product,Region,Units_Sold,Unit_Price,Revenue,Sales_Rep,Order_Date
0,ORD001,Printer,Limpopo,45,2985,134325,Rep-2,2024-03-28
1,ORD002,Headphones,Western Cape,16,15076,241216,Rep-18,2024-04-11
2,ORD003,Laptop,Western Cape,45,14860,668700,Rep-16,2024-05-18
3,ORD004,External Hard Drive,KwaZulu-Natal,21,16237,340977,Rep-3,2024-05-16
4,ORD005,Smartphone,Western Cape,41,9420,386220,Rep-17,2024-02-21

In [25]:

#4. Calculate Key Performance Indicators (KPIs)


import pandas as pd

# Load dataset
file_path = "Week-2-Sales-Data.csv"
df = pd.read_csv(file_path)

# --- KPI Calculations ---

# a) Total revenue for the entire dataset
total_revenue = df['Revenue'].sum()
print("a) Total Revenue:", total_revenue)

# b) Average units sold per order
avg_units_per_order = df['Units_Sold'].mean()
print("b) Average Units Sold per Order:", avg_units_per_order)

# c) Total revenue per region
revenue_per_region = df.groupby('Region')['Revenue'].sum()
print("\nc) Total Revenue per Region:")
print(revenue_per_region)

# d) Highest revenue-generating sales representative
top_sales_rep = df.groupby('Sales_Rep')['Revenue'].sum().idxmax()
top_sales_rep_revenue = df.groupby('Sales_Rep')['Revenue'].sum().max()
print("\nd) Highest Revenue Sales Rep:", top_sales_rep, "with Revenue:", top_sales_rep_revenue)

# e) Top 3 products by total units sold
top_products = df.groupby('Product')['Units_Sold'].sum().nlargest(3)
print("\ne) Top 3 Products by Units Sold:")
print(top_products)

a) Total Revenue: 35295338
b) Average Units Sold per Order: 28.23

c) Total Revenue per Region:
Region
Eastern Cape     2981638
Free State       3359398
Gauteng          6231531
KwaZulu-Natal    3560630
Limpopo          3614655
North West       6201288
Western Cape     9346198
Name: Revenue, dtype: int64

d) Highest Revenue Sales Rep: Rep-19 with Revenue: 2889294

e) Top 3 Products by Units Sold:
Product
Smartwatch    542
Tablet        511
Smartphone    437
Name: Units_Sold, dtype: int64